*{
    margin: 0;
    height: 100%;
}

.page{
    height: 100%;
    display: flex;
}

.gauche{
    display: flex;
    flex: 1;
    background-color: red;
    align-items: center;
    justify-content: center;
}

.image{
    max-width: 50%;
    max-height: 50%;
}


.droite{
    flex: 1;
    background-color: blue;
    display: flex;
}